//import variables
@import '../../../style/utils/variables';
    
.Header {
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: $purple-color;
  color: $white-color;

  &__content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
  }
  &__logo-container {
    margin: 3px 0 0 50px;
  }

  &__routes-container {
    :first-child {
      margin-right: 10px;
    }
  display: flex;
  }

  &__auth-routes-container {
    :first-child {
      margin-right: 50px;
    }
    font-size: 20px
  }

  &__link {
    color: $white-color;
  }

  &__link, &__auth-button {
    font-weight: 600;
    font-size: 22px;
  }

  .active {
    text-decoration: underline;
  }
  a {
    color: $white-color;
  }
  &__section-button {
    font-weight: 500;
    font-size: 15px;
    color: $pale-color;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    padding: 3px 13px;

    img {
      margin-left: 10px;
        width: 60px;
        height: 60px;
      //when hover or focus change src to the other one
    }
  }
}