@import "src/style/utils/variables";

.Button {
  $root: &;

  font-size: 20px;
  color: $white-color;
  font-weight: 500;
  padding: 10px 111px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;

  &_primary {
    background: $purple-color;
    color: $white-color;
    &:hover, &:focus {
      background: #5F36A6;
      color: $white-color;
    }

    &#{$root}_outline {
      color: $primary-color;
      background: transparent;
      padding: 6px 32px;
      margin-right: 25px;

      border: 3px solid $primary-color;
      &:hover, &:focus {
        background: unset;
        border-color: #DE5342;
        color: #DE5342;
      }
    }
  }


}